*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body
{
    background: #3b4858;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: burlywood;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 20px;
    margin: 5rem 5rem;
}
.container p,input,.img-box,button
{
    margin-bottom: 1.5rem;
}
.container p
{
    font-size: 2rem;
    font-family: 'Saira';
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgb(211, 164, 102);
}
.container input
{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 80%;
    border: 1px solid black;
    font-size: 1.1rem;
    outline: 0;
    padding: 1rem 2rem;
    font-family: 'Dosis';
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 2rem;
}
.container .img-box
{
    transition: max-height 1s;
}
.container .img-box img
{
    border: 1px solid black;
    width: 15rem;
}
.container button
{
    padding: 0.5rem 2rem;
    font-family: 'Mate SC';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: rgb(230, 168, 85);
    box-shadow: 0 2px 5px black;
    margin-top: 2rem;
}
.container button:hover
{
    background-color: rgb(217, 164, 95);
}